extends ./layout.pug
block content
  
  nav.navbar.navbar-expand-md.navbar-light.justify-content-between.fixed-top
    a.navbar-brand(href='/')
      img.logo.my-2(src='../img/logo_edited1.png' alt='logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/menu') Menu
        li.nav-item
          a.nav-link(href='/services') Services
        li.nav-item.active
          a.nav-link(href='/contact') Contact
        li.nav-item
          a.nav-link(href='/register') Register
        li.nav-item
          a.nav-link(href='/login') Login
      .ml-3.top-search
        // util search
        form.form-inline(method='get' action='')
          input(type='hidden' name='_token' value='')
          input#query.form-control.searchbox(type='search' name='query' placeholder='Search')
          span.input-group-btn
            button.btn.btn-outline-info.my-2.my-sm-0.text-white.bu(type='submit') Search
      .menu-top-wrapper
        .ml-3.acct_user.d-flex
          // util profile
          a(href='/profile')
            .circle1
              .user_image
                i.fas.fa-user-alt.text-white
        .ml-2.acct_srch.d-flex
          // shopping cart
          .ml-2.circle
            a(href='#')
              i.fas.fa-shopping-cart.text-white
  .container.d-flex.h-100.align-items-center.justify-content-center.register
    .h1.text-black.mx-auto.mt-0.mb-3.text-center.custom_lineheight Your Cart
        .container.page.my-5
          span#status
          table#cart.table.table-hover.table-condensed
            thead
              tr
                th.bg-light(style='width:50%') Menu
                th.bg-light(style='width:10%') Price
                th.bg-light(style='width:8%') Quantity
                th.text-center.bg-light(style='width:22%') Subtotal
                th.bg-light(style='width:10%')
            tbody
              tr
                td.align-middle(data-th='Product')
                  .row
                    .col-sm-3.hidden-xs
                      img.img-responsive(src="" width='100' height='100')
                    .col-sm-9.align-middle
                      h4.mt-3 
                td(data-th='Price') 
                td(data-th='Quantity')
                  input.form-control.quantity(type='number' value="" data-id='')
                td.text-center(data-th='Subtotal')
                  | $
                  span.product-subtotal 
                td.actions(data-th='/delete')
                  button.btn.btn-danger.btn-sm.remove-from-cart(data-id='menu._id ')
                    i.fas.fa-trash
                  i.fa.fa-circle-o-notch.fa-spin.btn-loading(style='font-size:24px; display: none')
              
            tfoot
              tr.visible-xs
                td.text-right(colspan='5')
                  strong
                    span.message.text-danger
              tr
                td.text-right(colspan='5')
                  strong
                    | Total $
                    span.cart-total
              td
                a.btn.btn-warning(href="/menu/") 
                  i.fa.fa-angle-left
                  |  Continue Shopping
              td.hidden-xs(colspan='3')
              td
                a.btn.btn-primary(href="/checkout/") Checkout

          