extends ./layout.pug

block content

  .container
    #menu.row
      h1 Menu Detail Page
      div.edit-container
        img(src='/img/' + menus.image)
        br
        h1= menus.name
        p= menus.description
        p= menus.price 
        a(href= "/menu") Menu
    