extends ./layout.pug
block content
  // navbar
  nav.navbar.navbar-expand-md.navbar-light.justify-content-between.fixed-top
    a.navbar-brand(href='/')
      img.logo.my-2(src='../img/logo_edited1.png' alt='logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/menu') Menu
        li.nav-item
          a.nav-link(href='/services') Services
        li.nav-item
          a.nav-link(href='/contact') Contact
        li.nav-item
          a.nav-link(href='/register') Register
        li.nav-item
          a.nav-link(href='/login') Login
      .ml-3.top-search
        // util search
        form.form-inline(method='get' action='')
          input(type='hidden' name='_token' value='')
          input#query.form-control.searchbox(type='search' name='query' placeholder='Search')
          span.input-group-btn
            button.btn.btn-outline-info.my-2.my-sm-0.text-white.bu(type='submit') Search
      .menu-top-wrapper
        .ml-3.acct_user.d-flex
          // util profile
          a(href='/profile')
            .circle1
              .user_image
                i.fas.fa-user-alt.text-white
        .ml-2.acct_srch.d-flex
          // shopping cart
          .ml-2.circle
            a(href='/cart')
              i.fas.fa-shopping-cart.text-white
 
  
  div.container
    .row
      .col-lg-12
        h1.mb-5.head Edit and update Menu 
        div.edit-container
        p
          a.btn.btn-warning(href='/admin') Back
          p.clear &nbsp;
            form(action="/edit", method="post" class="form")
              input(type="hidden" name="_id" value= menus._id)
              input#file(type="file", placeholder="Menu Image", required="required", name="menuImage" accept="img/*")
              .form-group
              p
                label(for='menuName') Menu Name: 
              input.form-control(type="text",placeholder="menu name", required="required", name="menuName" value= menus.name)
              .form-group
              p
                label(for='menuDescription') Menu Description: 
              input.form-control(type="text",placeholder="description",required="required",name="menuDescription" value= menus.description)
              .form-group
              p
                label(for='menuPrice') Menu Price:
              input.form-control(type="text",placeholder="menu price", required="required", name="price" value= menus.price)
              br
              br
              p.edit
                button Update Menus
         
          